@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

:root {
    --x-padding: 200px;
    --white-text: #F9FAF8;
    --off-white-text: #e5e7eb;
}


body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    min-height: 100vh;
}

header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--x-padding);
}

footer {
    height: 72px;
    background: #1F2937;
    color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    /* this removes the dots on the list items*/
    list-style-type: none;
    display: flex;
    gap: 16px;
  }

.header-left {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

a {
    font-size: 18px;
    /* this removes the line under the links */
    text-decoration: none;
    color: #e5e7eb;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: center; /* works on the current axis */
    align-items: stretch; /* works on the off-axis */
    padding: 100px var(--x-padding);
    flex: 1;
    gap: 32px;
    color: white;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.hero-right {
    background-color: #939393;
    padding: 24px;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: white;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-bottom: 0;
    margin-top: 0;
}

button {
    background: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 6px;
    color: white;
    padding: 4px 20px;
    width: fit-content;
  }

h2 {
    text-align: center;
    padding: 24px;
}

h3 {
    font-weight: lighter;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    padding: 70px var(--x-padding);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    gap: 32px;
    margin: 80px;
    text-align: center;
}

.sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: min-content;
    flex: 1;
}

.card {
    justify-content: center;
    height: 150px;
    width: 150px;
    border: 3px solid #3882f6;
    border-radius: 8px;
}

.attribution {
    text-align: right;
}

.call-to-action {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px var(--x-padding);
    color: #f9faf9;
}

.box {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 24px 100px;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.border {
    border: 2px solid #f9faf8;
    flex: 1;
}
